@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --desatured-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red : hsl(0, 6%, 24%);    
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: var(--verylightgray);
    max-height: 100vh;
    display: flex;
    max-width: 1440px;
    margin: auto;
}

/* Content */

.content {
    background-image: url("./images/bg-pattern-desktop.svg");
    padding-left: 165px;
    padding-top: 60px;
    padding-right: 220px;
    max-width: 830px;
}

header {
    margin-bottom: 135px;
}

.main h1 {
    text-transform: uppercase;
    letter-spacing: 1.1rem;
    line-height: 1.1;
    font-size: 4rem;
    margin-bottom: 25px;
}

.main h1 span {
    color: var(--desatured-red);
    font-weight: 300;
}

.main p {
    color: var(--desatured-red);
    line-height: 1.7;
    margin-top: 0;
}

.main form {
    margin-top: 25px;
    position: relative;
}

.main form > input {
    width: 100%;
    border: 1px solid rgba(206, 151, 151, 0.5);
    border-radius: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    padding: 20px 30px;
}

.main form > input::placeholder {
    color: var(--desatured-red);
    opacity: 0.5;
}

.main form input[type="submit"] {
    display: none;
}

.main form input:focus {
    outline: none;
    border: 2px solid var(--soft-red);
}

.main form .error-icon {
    position: absolute;
    top: 50%;
    right: 115px;
    transform: translateY(-50%);
    display: none;
}

.error-message {
    margin-top: 8px;
    padding-left: 30px;
    font-size: 0.85rem;
    color: var(--soft-red);
    opacity: 0.8;
    display: none;
}

.main form label {
    position: absolute;
    border-radius: 50px;
    background: linear-gradient(127deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    padding: 17px 44px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}
.main form label:hover {
    background: linear-gradient(127deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Footer */

footer {
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Photo */

.photo {
    width: 610px;
    height: 800px;
}

@media only screen and (max-width: 1439px) { 
    
    .content {
        padding-left: 100px;
    }
    
    .photo {
        align-self: flex-end;
        min-width: 350px;
        height: auto;
    }
}

@media only screen and (max-width: 1120px) { 
    
    .content {
        padding-right: 100px;
    }

    .photo {
        min-width: 250px;
    }
}

@media only screen and (max-width: 840px) { 
    
    body {
        max-width: 600px;
        margin: auto;
    }
    
    .content {
        max-width: 600px;
        margin: 0;
        padding-left: 35px;
        padding-right: 35px;
    }

    .main h1 {
        text-align: center;
        font-size: 3rem;
    }

    .photo {
        display: none;
    }
}

@media only screen and (min-width: 376px) { 
    .photo-mobile {
        display: none;
    }
}

@media only screen and (max-width: 375px) { 
    
    body {
        position: relative;
        height: 800px;
    }

    .content {
        padding-top: 30px;
        background-image: none;
    }


    header {
        margin-bottom: 335px;
    }
    

    header .logo {
        width: 100px;
    }
    
    .photo-mobile {
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
    }

    .main h1 {
        letter-spacing: 0.6rem;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .main p {
        font-size: 0.9rem;
        text-align: center;
    }

    .main form > input {
        font-size: 0.9rem;
        padding: 15px 30px;
    }

    .main form label {
        position: absolute;
        border-radius: 50px;
        background: linear-gradient(127deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        padding: 12px 26px;
        box-shadow: none;
        box-shadow: 4px 6px 12px rgba(231, 218, 218, 0.16), 4px 6px 12px rgba(231, 218, 218,0.23);
    }

    footer {
        margin-top: 5px;
    }
}



